@use 'base';

* {
    box-sizing: border-box;
}


@mixin regular-text {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
@mixin heading-text {
    font-size: 1.4rem;
        line-height: 1.2rem;
}

@mixin button {
    background-color: var(--primary-color);
    border: none;
    text-decoration: none;
    font: 100% base.$font-stack;
    padding: 15px;
    border-radius: 5px;
    margin: 5px;
    color: var(--text-color);

}
  
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font: 100% base.$font-stack;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    margin-bottom: auto;
    display: flex;
    position: relative;
    background-color: var(--secondary-color);
    width: 100%;
    padding: 50px;
    justify-content: flex-end;
    align-items: center;
    a {
        color: var(--text-color);
        font-size: 1.4rem;
        text-decoration: none;
        
    }
    div {
        display: flex;
        gap: 20px;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: var(--text-color);
        display: block;
        transition: 0.3s;
    }
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
  }
  
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1 {
    @include button;
}

.button1:hover {
    background-color: var(--text-color);
    color: var(--secondary-color);
}

.footer {
    display: flex;
    position: relative;
    background-color: var(--secondary-color);
    height: 50px;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}


.photos {
    display: flex;
    column {
        flex: 33.33%;
        padding: 5px;
    }
    img {
    height: auto;
    width: 300px;
    }
    
}

.sass-text {
    padding: 20px;
    h2 {
        @include heading-text;

    }
    p {
        @include regular-text;

    }
}



/*Media Queries*/

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }